.text-type {
  display: block;
  white-space: normal;
  width: 100%;
  word-break: break-word;
}

.text-type__content {
  display: inline;
  white-space: normal;
  word-break: break-word;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
