@tailwind base;
@tailwind components;
@tailwind utilities;


/* ================= 3D CUBE SUPPORT ================= */

.perspective {
  perspective: 1000px;
}

.cube {
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.cube-card:hover .cube {
  transform: rotateX(-90deg);
}

.cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
}

/* FRONT FACE */
.cube-front {
  background-color: #1F2937;
  transform: rotateX(0deg) translateZ(100px);
}

/* BOTTOM FACE */
.cube-bottom {
  background-color: #DC2626;
  transform: rotateX(90deg) translateZ(100px);
}
.carousel-container {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.carousel-item {
  position: absolute;
  width: 260px;
  transition: all 0.8s ease;
  filter: blur(3px);
  opacity: 0.5;
  object-fit: contain;
}

.carousel-item.active {
  width: 320px;
  z-index: 3;
  filter: blur(0);
  opacity: 1;
  transform: translateX(0) scale(1);
}

.carousel-item.left {
  width: 220px;
  transform: translateX(-220px) scale(0.85);
  z-index: 2;
}

.carousel-item.right {
  width: 220px;
  transform: translateX(220px) scale(0.85);
  z-index: 2;
}
